<a href="https://colab.research.google.com/github/tonu1990/Python_Learning/blob/main/Python_Basics/1_PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python is **interpreted programing language** and at the same time a **scripting language** .


1.   A high-level programming language that is interpreted by another program at runtime (interpreted programming language )

2.  Python is a scripting language -  a type of programming language specifically designed for automating tasks.  But remeber python is not a client side scripting language because it doesn't run directly in the browser, as like JavaScript run on the user's browser. However Python is a powerful **server-side scripting language**.
Server-side scripting refers to scripts that run on a web server, often used to handle user requests, interact with databases, or generate dynamic content for web pages.Frameworks like **Django and Flask** make Python popular for web development, enabling database manipulation and dynamic content delivery.

**Python comments** - Single line comments and multi line comments ;


1.   Using # , which is the appropriate one for comment
2.   using string literals - A string literal, whether it spans one line or multiple lines, is not ignored by the Python interpreter.

In [4]:
# this single line comment using #


'''This is an
examaple of string literal comment
using single quotes '''


# This is an
# examaple of multi line comment
# using #

'This is an \nexamaple of string literal comment \nusing single quotes '

**Assigning values to Variables in Python**

In [6]:
# assign value to site_name variable

site_name = 'Dublin'

print(site_name)

Dublin

In [5]:
#Triple Quotes in Python -  write strings that span multiple lines

mul_line_statement = """ Hello All ,
this is an example of ....,
Multiline Statement...
Lets print it now ..."""

print(mul_line_statement)

 Hello All ,
this is an example of ....,
Multiline Statement...
Lets print it now ...

In [8]:
# Assigning multiple values to multiple variables

a, b, c , d = 5, 3.2, 'Hello' , "Tonu"

print(a)
print(b)
print(c)
print(d)

5
3.2
Hello
Tonu

In [9]:
# concatenation operator + on variables

print (a+b)
print(c+d)

8.2
HelloTonu

In [10]:
# concatenate + with string and integer

# this will give error

print(b+c)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

**"*In Python everything is an object*"**

It means that almost everything that you use: is an instance of a class and has attributes.I say "almost" because this doesn't hold for keywords (such as for, if, def etc).When you define a variable, Python creates a pointer to an object in memory. This object is an instance of a class. You can use the function type() to see the class your variable belongs to.

NOTE: You will also see similar sentances like ;


1. **Python is a dynamically typed language**- *You don’t need to declare variable types explicitly; the type is determined at runtime*
2. **Python is a strongly typed language**- Y*ou cannot perform operations between incompatible types without explicit conversion (e.g., adding a string and an integer will raise an error).*
3.**Python is an interpreted language** - *Python code is executed line by line, without the need for compilation into machine code*
4. **Python is platform-independent** - *Python code can run on multiple operating systems with minimal or no modification, thanks to its interpreter.*

5. **Python supports multiple programming paradigms** - *You can use procedural, object-oriented, and functional programming styles in Python.*

6. **Python uses automatic memory management**- *Python has a built-in garbage collector to manage memory, so you don’t need to handle allocation and deallocation manually*.

7. **Python supports list comprehensions**- *A concise way to way to create and manipulate lists in a single line of code by iterating over sequences and applying conditions.*

8. **Python supports first-class functions**- *Functions in Python are treated as objects and can be passed as arguments, returned from other functions, or assigned to variables*

and many more..

**Datatypes in Python**

As already mentioned everything in Python is an object and what every newcomer to Python should quickly learn is that all objects in Python can be either mutable or immutable. Simple put, a mutable object can be changed after it is created, and an immutable object can’t.


The data types in Python are divided in two categories:
1. Immutable data types - if you can’t change the object’s state after you’ve created it.
2. Mutable data types - allows you to modify its internal state after creation.

Immutable data types in Python are:
1. Numbers
2. String
3. Tuple


Mutable data types in Python are:
1. List
2. Dictionaries
3. Sets

###  **Python Numbers**

In [4]:
# Python supports integers, floats and complex numbers , boolean(which has value 1 for True and 0 for False).

# intergers
x = 3

# float
y = 3.14

# Complex
z= 10 + 3j

#bool
b = True


print (x , type(x))
print (y , type(y))
print (z , type(z))
print (b , type(b))

3 <class 'int'>
3.14 <class 'float'>
(10+3j) <class 'complex'>
True <class 'bool'>

*Q : Can we add an Interger and boolean???*

In [6]:
# add integer and boolean
print(x +b)

# add float ad boolean
print(y + b)

# add complex and boolean
print(z +b)

4
4.140000000000001
(11+3j)

We use the id() function to check the memory address of an object before and after modification. If the id changes, it means the object is immutable, as a new object is created for the new value.

In [13]:
# checking immutability of Numbers

# current x value and address
print(x ,id(x))

x= x+ 1
print (x , id(x))

# now again bring back the value to same old value
x= x-1
print (x , id(x))

# lets assign a different variable with value 10 and check its address
n = 5
print (n , id(n))

4 10750952
5 10750984
4 10750952
5 10750984

In [18]:
# but there is a difference if value is not between -5 and 256
n1= 257
n2 = 257
print(id(n1) , id(n2)  )

134124338244624 134124338238000

Note : in above , **Caching Behavior**:

When you assign a variable to a commonly used small integer (like 4 or 5), Python checks if it already has an object with that value in its cache. If it exists, the same object is reused, and id() returns the same address.

In Python, integer caching is managed internally by the interpreter, and the range of cached integers is implementation-dependent. By default, CPython (the most common Python implementation) caches integers in the range -5 to 256.

In CPython:

Numbers between -5 and 256 will have consistent id values for repeated occurrences.

Numbers outside this range will have different id values for the same value if reassigned.

In [15]:
# Check cached integer range
for i in range(-10, 260):
    obj_id = id(i)
    print(f"Value: {i}, Address: {obj_id}")

Value: -10, Address: 134124338235760
Value: -9, Address: 134124338234832
Value: -8, Address: 134124338242288
Value: -7, Address: 134124338241968
Value: -6, Address: 134124338234832
Value: -5, Address: 10750664
Value: -4, Address: 10750696
Value: -3, Address: 10750728
Value: -2, Address: 10750760
Value: -1, Address: 10750792
Value: 0, Address: 10750824
Value: 1, Address: 10750856
Value: 2, Address: 10750888
Value: 3, Address: 10750920
Value: 4, Address: 10750952
Value: 5, Address: 10750984
Value: 6, Address: 10751016
Value: 7, Address: 10751048
Value: 8, Address: 10751080
Value: 9, Address: 10751112
Value: 10, Address: 10751144
Value: 11, Address: 10751176
Value: 12, Address: 10751208
Value: 13, Address: 10751240
Value: 14, Address: 10751272
Value: 15, Address: 10751304
Value: 16, Address: 10751336
Value: 17, Address: 10751368
Value: 18, Address: 10751400
Value: 19, Address: 10751432
Value: 20, Address: 10751464
Value: 21, Address: 10751496
Value: 22, Address: 10751528
Value: 23, Address: 10751560
Value: 24, Address: 10751592
Value: 25, Address: 10751624
Value: 26, Address: 10751656
Value: 27, Address: 10751688
Value: 28, Address: 10751720
Value: 29, Address: 10751752
Value: 30, Address: 10751784
Value: 31, Address: 10751816
Value: 32, Address: 10751848
Value: 33, Address: 10751880
Value: 34, Address: 10751912
Value: 35, Address: 10751944
Value: 36, Address: 10751976
Value: 37, Address: 10752008
Value: 38, Address: 10752040
Value: 39, Address: 10752072
Value: 40, Address: 10752104
Value: 41, Address: 10752136
Value: 42, Address: 10752168
Value: 43, Address: 10752200
Value: 44, Address: 10752232
Value: 45, Address: 10752264
Value: 46, Address: 10752296
Value: 47, Address: 10752328
Value: 48, Address: 10752360
Value: 49, Address: 10752392
Value: 50, Address: 10752424
Value: 51, Address: 10752456
Value: 52, Address: 10752488
Value: 53, Address: 10752520
Value: 54, Address: 10752552
Value: 55, Address: 10752584
Value: 56, Address: 10752616
Value: 57, Address: 10752648
Value: 58, Address: 10752680
Value: 59, Address: 10752712
Value: 60, Address: 10752744
Value: 61, Address: 10752776
Value: 62, Address: 10752808
Value: 63, Address: 10752840
Value: 64, Address: 10752872
Value: 65, Address: 10752904
Value: 66, Address: 10752936
Value: 67, Address: 10752968
Value: 68, Address: 10753000
Value: 69, Address: 10753032
Value: 70, Address: 10753064
Value: 71, Address: 10753096
Value: 72, Address: 10753128
Value: 73, Address: 10753160
Value: 74, Address: 10753192
Value: 75, Address: 10753224
Value: 76, Address: 10753256
Value: 77, Address: 10753288
Value: 78, Address: 10753320
Value: 79, Address: 10753352
Value: 80, Address: 10753384
Value: 81, Address: 10753416
Value: 82, Address: 10753448
Value: 83, Address: 10753480
Value: 84, Address: 10753512
Value: 85, Address: 10753544
Value: 86, Address: 10753576
Value: 87, Address: 10753608
Value: 88, Address: 10753640
Value: 89, Address: 10753672
Value: 90, Address: 10753704
Value: 91, Address: 10753736
Value: 92, Address: 10753768
Value: 93, Address: 10753800
Value: 94, Address: 10753832
Value: 95, Address: 10753864
Value: 96, Address: 10753896
Value: 97, Address: 10753928
Value: 98, Address: 10753960
Value: 99, Address: 10753992
Value: 100, Address: 10754024
Value: 101, Address: 10754056
Value: 102, Address: 10754088
Value: 103, Address: 10754120
Value: 104, Address: 10754152
Value: 105, Address: 10754184
Value: 106, Address: 10754216
Value: 107, Address: 10754248
Value: 108, Address: 10754280
Value: 109, Address: 10754312
Value: 110, Address: 10754344
Value: 111, Address: 10754376
Value: 112, Address: 10754408
Value: 113, Address: 10754440
Value: 114, Address: 10754472
Value: 115, Address: 10754504
Value: 116, Address: 10754536
Value: 117, Address: 10754568
Value: 118, Address: 10754600
Value: 119, Address: 10754632
Value: 120, Address: 10754664
Value: 121, Address: 10754696
Value: 122, Address: 10754728
Value: 123, Address: 10754760
Value: 124, Address: 10754792
Value: 125, Address: 10754824
Value: 126, Address: 10754856
Value: 127, Address: 10754888
Value: 128, Address: 10754920
Value: 129, Address: 10754952
Value: 130, Address: 10754984
Value: 131, Address: 10755016
Value: 132, Address: 10755048
Value: 133, Address: 10755080
Value: 134, Address: 10755112
Value: 135, Address: 10755144
Value: 136, Address: 10755176
Value: 137, Address: 10755208
Value: 138, Address: 10755240
Value: 139, Address: 10755272
Value: 140, Address: 10755304
Value: 141, Address: 10755336
Value: 142, Address: 10755368
Value: 143, Address: 10755400
Value: 144, Address: 10755432
Value: 145, Address: 10755464
Value: 146, Address: 10755496
Value: 147, Address: 10755528
Value: 148, Address: 10755560
Value: 149, Address: 10755592
Value: 150, Address: 10755624
Value: 151, Address: 10755656
Value: 152, Address: 10755688
Value: 153, Address: 10755720
Value: 154, Address: 10755752
Value: 155, Address: 10755784
Value: 156, Address: 10755816
Value: 157, Address: 10755848
Value: 158, Address: 10755880
Value: 159, Address: 10755912
Value: 160, Address: 10755944
Value: 161, Address: 10755976
Value: 162, Address: 10756008
Value: 163, Address: 10756040
Value: 164, Address: 10756072
Value: 165, Address: 10756104
Value: 166, Address: 10756136
Value: 167, Address: 10756168
Value: 168, Address: 10756200
Value: 169, Address: 10756232
Value: 170, Address: 10756264
Value: 171, Address: 10756296
Value: 172, Address: 10756328
Value: 173, Address: 10756360
Value: 174, Address: 10756392
Value: 175, Address: 10756424
Value: 176, Address: 10756456
Value: 177, Address: 10756488
Value: 178, Address: 10756520
Value: 179, Address: 10756552
Value: 180, Address: 10756584
Value: 181, Address: 10756616
Value: 182, Address: 10756648
Value: 183, Address: 10756680
Value: 184, Address: 10756712
Value: 185, Address: 10756744
Value: 186, Address: 10756776
Value: 187, Address: 10756808
Value: 188, Address: 10756840
Value: 189, Address: 10756872
Value: 190, Address: 10756904
Value: 191, Address: 10756936
Value: 192, Address: 10756968
Value: 193, Address: 10757000
Value: 194, Address: 10757032
Value: 195, Address: 10757064
Value: 196, Address: 10757096
Value: 197, Address: 10757128
Value: 198, Address: 10757160
Value: 199, Address: 10757192
Value: 200, Address: 10757224
Value: 201, Address: 10757256
Value: 202, Address: 10757288
Value: 203, Address: 10757320
Value: 204, Address: 10757352
Value: 205, Address: 10757384
Value: 206, Address: 10757416
Value: 207, Address: 10757448
Value: 208, Address: 10757480
Value: 209, Address: 10757512
Value: 210, Address: 10757544
Value: 211, Address: 10757576
Value: 212, Address: 10757608
Value: 213, Address: 10757640
Value: 214, Address: 10757672
Value: 215, Address: 10757704
Value: 216, Address: 10757736
Value: 217, Address: 10757768
Value: 218, Address: 10757800
Value: 219, Address: 10757832
Value: 220, Address: 10757864
Value: 221, Address: 10757896
Value: 222, Address: 10757928
Value: 223, Address: 10757960
Value: 224, Address: 10757992
Value: 225, Address: 10758024
Value: 226, Address: 10758056
Value: 227, Address: 10758088
Value: 228, Address: 10758120
Value: 229, Address: 10758152
Value: 230, Address: 10758184
Value: 231, Address: 10758216
Value: 232, Address: 10758248
Value: 233, Address: 10758280
Value: 234, Address: 10758312
Value: 235, Address: 10758344
Value: 236, Address: 10758376
Value: 237, Address: 10758408
Value: 238, Address: 10758440
Value: 239, Address: 10758472
Value: 240, Address: 10758504
Value: 241, Address: 10758536
Value: 242, Address: 10758568
Value: 243, Address: 10758600
Value: 244, Address: 10758632
Value: 245, Address: 10758664
Value: 246, Address: 10758696
Value: 247, Address: 10758728
Value: 248, Address: 10758760
Value: 249, Address: 10758792
Value: 250, Address: 10758824
Value: 251, Address: 10758856
Value: 252, Address: 10758888
Value: 253, Address: 10758920
Value: 254, Address: 10758952
Value: 255, Address: 10758984
Value: 256, Address: 10759016
Value: 257, Address: 134124338234832
Value: 258, Address: 134124338239216
Value: 259, Address: 134124338241968

Note : "is" operator in python for identity comparison

The operator a is b returns True if a and b are bound to the same object

In [1]:
#What will be the output of the following code?

a = 256
b = 256
print(a is b)  # Line 1

c = 257
d = 257
print(c is d)  # Line 2

True
False

Line 1: True (256 is within the cached range of -5 to 256 in CPython).

Line 2: False (257 is outside the cached range, so separate objects are created for c and d).

Additional Notes:

Performance of Integers - Are Python integers slower than integers in languages like C? Why?

Yes, Python integers are slower because:

-They are objects with metadata (e.g., reference count, type information).
-They support arbitrary precision, unlike fixed-size integers in C.

However, this abstraction makes Python integers easier to use.

In [5]:
# represent integers in different bases (binary, octal, hexadecimal)
print(0b1010)  # Binary
print(0o12)    # Octal
print(0xA)     # Hexadecimal

# example addition
a= 0b1011 # number 11 in binary
b= 0o12  # number 10 in Octal

print(a+b) # sum = 11 + 10 i decimal

10
10
10
21

**Qtn** :  What happens if you assign a very large integer in Python? Will it cause an overflow?

Python integers have arbitrary precision, so they won't overflow.

In [6]:
# Type Conversion and Integer Operations

print(5 / 2)    # Division  / always returns a float.
print(5 // 2)   # Floor division // performs floor division and returns an integer (or float if one operand is a float).

2.5
2


Python offers the **random module** to generate random numbers or to pick a random item from an iterator.

Python offers the **math module** to carry out different mathematics like trigonometry, logarithms, probability and statistics

In [8]:
import random

# Random float between 0.0 and 1.0
print("Random float (0 to 1):", random.random())

# Random integer between 10 and 20
print("Random integer (10 to 20):", random.randint(10, 20))

# Random float between 5.5 and 10.5
print("Random float (5.5 to 10.5):", random.uniform(5.5, 10.5))


###########  Generate Random Numbers from Distributions   ##########
# Gaussian distribution with mean=0, std dev=1
print("Gaussian random number:", random.gauss(0, 1))

# Exponential distribution with lambda=1
print("Exponential random number:", random.expovariate(1))

Random float (0 to 1): 0.509355978915773
Random integer (10 to 20): 13
Random float (5.5 to 10.5): 7.714991043940374
Gaussian random number: -1.857230923917967
Exponential random number: 0.7598524181709091

In [11]:
import math

print("Square root of 16:", math.sqrt(16))
print("2 raised to the power of 3:", math.pow(2, 3))
print("Ceiling of 3.7:", math.ceil(3.7))
print("Floor of 3.7:", math.floor(3.7))
print("Absolute value of -5:", math.fabs(-5))

print("Logarithm base e of 10:", math.log(10))
print("Logarithm base 10 of 100:", math.log10(100))
print("Logarithm base 2 of 8:", math.log2(8))


angle = math.radians(30)  # Convert 30 degrees to radians
print("Sine of 30 degrees:", math.sin(angle))
print("Cosine of 30 degrees:", math.cos(angle))
print("Tangent of 30 degrees:", math.tan(angle))
print("Convert π/6 radians to degrees:", math.degrees(math.pi / 6))

print("Factorial of 5:", math.factorial(5))
print("GCD of 48 and 18:", math.gcd(48, 18))

Square root of 16: 4.0
2 raised to the power of 3: 8.0
Ceiling of 3.7: 4
Floor of 3.7: 3
Absolute value of -5: 5.0
Logarithm base e of 10: 2.302585092994046
Logarithm base 10 of 100: 2.0
Logarithm base 2 of 8: 3.0
Sine of 30 degrees: 0.49999999999999994
Cosine of 30 degrees: 0.8660254037844387
Tangent of 30 degrees: 0.5773502691896257
Convert π/6 radians to degrees: 29.999999999999996

### **Python Strings**