<a href="https://colab.research.google.com/github/tonu1990/Python_Learning/blob/main/Python_Basics%20/1_PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python is **interpreted programing language** and at the same time a **scripting language** .


1.   A high-level programming language that is interpreted by another program at runtime (interpreted programming language )

2.  Python is a scripting language -  a type of programming language specifically designed for automating tasks.  But remeber python is not a client side scripting language because it doesn't run directly in the browser, as like JavaScript run on the user's browser. However Python is a powerful **server-side scripting language**.
Server-side scripting refers to scripts that run on a web server, often used to handle user requests, interact with databases, or generate dynamic content for web pages.Frameworks like **Django and Flask** make Python popular for web development, enabling database manipulation and dynamic content delivery.

**Python comments** - Single line comments and multi line comments ;


1.   Using # , which is the appropriate one for comment
2.   using string literals - A string literal, whether it spans one line or multiple lines, is not ignored by the Python interpreter.

In [4]:
# this single line comment using #


'''This is an
examaple of string literal comment
using single quotes '''


# This is an
# examaple of multi line comment
# using #

'This is an \nexamaple of string literal comment \nusing single quotes '

**Assigning values to Variables in Python**

In [6]:
# assign value to site_name variable

site_name = 'Dublin'

print(site_name)

Dublin

In [5]:
#Triple Quotes in Python -  write strings that span multiple lines

mul_line_statement = """ Hello All ,
this is an example of ....,
Multiline Statement...
Lets print it now ..."""

print(mul_line_statement)

 Hello All ,
this is an example of ....,
Multiline Statement...
Lets print it now ...

In [8]:
# Assigning multiple values to multiple variables

a, b, c , d = 5, 3.2, 'Hello' , "Tonu"

print(a)
print(b)
print(c)
print(d)

5
3.2
Hello
Tonu

In [9]:
# concatenation operator + on variables

print (a+b)
print(c+d)

8.2
HelloTonu

In [10]:
# concatenate + with string and integer

# this will give error

print(b+c)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

**Datatypes in Python**